:root {
  --font-style: 'Helvetica Neue', Arial, sans-serif;
  --border-radius: 1rem;
  --foreground: 17, 17, 17;
  --background: 244, 244, 244;
  --primary: 53, 4, 177;
  --contrast-text: 244, 244, 244;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 17, 17, 17;
    --foreground: 255, 255, 255;
    --primary: 53, 4, 177;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  font: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-style);
  min-height: 100vh;
  font-size: 16px;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  padding: 1rem 2rem;
  margin: auto;
  max-width: 1280px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  background-color: rgb(var(--background));
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--foreground), 0.1);
}

@media only screen and (min-width: 800px) {
  .header {
    justify-content: start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  gap: 0.5rem;
}

.logo-img {
  position: relative;
  width: 48px;
  height: 48px;
}

@media only screen and (min-width: 800px) {
  .logo {
    font-size: 1.5rem;
  }

  .logo-img {
    width: 64px;
    height: 64px;
  }
}

.logo-top {
  animation: slideFromLeft 1s;
}

.logo-bottom {
  animation: slideFromRight 1s;
}

@keyframes slideFromRight {
  from { 
    transform: translateX(100%);
    opacity: 0;
  }
  to { 
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from { 
    transform: translateX(-100%);
    opacity: 0;
  }
  to { 
    transform: translateX(0%);
    opacity: 1;
  }
}

.logo-text {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navigation-container {
  display: flex;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  width: 85vw;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 150ms ease-out;
  opacity: 0;
  background-color: rgb(var(--background));
}

@media only screen and (min-width: 800px) {
  .navigation-container {
    width: unset;
    position: relative;
    transform: unset;
    inset: unset;
    justify-content: center;
    background-color: transparent;
    transition: none;
    opacity: unset;
  }
}

.navigation-container[data-open="true"] {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6rem;
}

@media only screen and (min-width: 800px) {
  .navigation-list {
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.navigation-list-item {
  font-weight: 900;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(96, 96, 129, 0.2);
  padding: 1rem;
}

@media only screen and (min-width: 800px) {
  .navigation-list-item {
    background-color: transparent;
  }
}

.mobile-navigation-toggle {
  display: block;
  /* position: absolute; */
  top: 32px;
  right: 32px;
  width: 32px;
  aspect-ratio: 1;
  z-index: 999;
}

@media only screen and (min-width: 800px) {
  .mobile-navigation-toggle {
    display: none;
  }
}

.top-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
}

.top-right-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-container {
  display: inline-flex;
}

.profile-button {
  height: fit-content;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.base-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  border-radius: 1rem;
  margin: 2rem 0;
}

.base-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.base-input-label {
  font-size: 0.9rem;

}

.base-input-field {
  font-family: unset;
  font-size: unset;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
}

.base-text-area {
  resize: none;
}

.button-base {
  font-family: unset;
  font-size: unset;
  color: rgb(var(--contrast-text));
  font-weight: 700;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(var(--primary), 1);
}

.button-base:hover {
  background-color: rgba(var(--primary), 0.8);
}

/* Dialog */

.dialog-overlay {
  background-color: rgba(var(--background), 0.6);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--background));
  padding: 2rem;
  z-index: 9999;
  border-radius: var(--border-radius);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  border: 1px solid rgb(var(--foreground), 0.1);
  width: 90vw;
}

@media only screen and (min-width: 800px) {
  .dialog-content {
    max-width: 680px;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.dialog-close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
